@keyframes glowPulse {
  0% {
    box-shadow:
      0 0 0px rgba(64, 207, 255, 0.3),
      0 0 0px rgba(64, 207, 255, 0.2);
    transform: scale(1);
  }

  50% {
    box-shadow:
      0 0 60px rgba(64, 207, 255, 0.7),
      0 0 120px rgba(64, 207, 255, 0.4);
    transform: scale(1.01);
  }

  100% {
    box-shadow:
      0 0 0px rgba(64, 207, 255, 0.3),
      0 0 0px rgba(64, 207, 255, 0.2);
    transform: scale(1);
  }
}

.roulette-glow {
  animation: glowPulse 1.5s infinite ease-in-out;
}